@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* overflow-x: hidden; */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden !important;
  margin: 0;
  padding: 0;
}

.slick-dots li button::before {
  color: #497bfd !important; /* You can change 'blue' to your desired color */
}

.hide-scrollbar {
  overflow: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.css-yvszuv-Slider {
  width: 100% !important;
  height: 4px !important;
}

.css-1ldz52l-Slider {
  width: 16px !important;
  height: 16px !important;
  background-color: #ffffff;
  border-radius: 50%;
}

.css-3g5hux-Slider {
  background-color: #4579ff !important;
}

@media (min-width: 1536px) {
  .link {
    font-size: 15px;
  }
}

@media (max-width: 1535px) {
  .link {
    font-size: 10px;
  }
}
.blur-background {
  background-image: linear-gradient(
    to bottom,
    rgba(3, 1, 7, 1),
    rgba(3, 1, 7, 0)
  );
  backdrop-filter: blur(15px);
}

.social-blur-background {
  background-color: rgba(40, 40, 83, 0.7);

  backdrop-filter: blur(4px);
}
.qrcode-background {
  background-color: rgba(40, 40, 83, 0.7);

  backdrop-filter: blur(30px);
}
.imgGenRightSidebar-background {
  background-color: rgba(35, 31, 44, 0.7) !important;

  backdrop-filter: blur(33px) !important;
}
.bg-Image {
  background-image: url("../assets/group-image.png");
}

.artGeneratorInput-background {
  background-color: rgba(35, 31, 44, 0.7);

  backdrop-filter: blur(10px);
}

.home-blur {
  background-color: #231f2c !important;

  backdrop-filter: blur(16px) !important;
  width: 412px !important;
  height: 412px !important;
}
.models-background {
  background-color: rgba(51, 51, 51, 0.7);

  backdrop-filter: blur(12px);
}
.aspectRatio-background {
  background-color: rgba(10, 1, 26, 0.8) !important;
  backdrop-filter: blur(20px) !important;
}
.leftSidebar-background {
  background-color: rgba(35, 31, 44, 0.7) !important;
  backdrop-filter: blur(16px) !important;
}
.menuItemStyling {
  border-bottom: 1px solid rgba(64, 65, 75, 0.5) !important;
}
.menuItemStyling:first-child {
  border-radius: 12px 12px 0 0 !important;
}
.menuItemStyling:last-child {
  border-bottom: none !important;
  border-radius: 0 0 12px 12px !important;
}
/* .css-r6z5ec {
  transform: translate(0, 0) !important;
} */
.styles-menu > * {
  transform: translate(0, 0) !important;
}
.models-menu > * {
  transform: translate(0, 0) !important;
}
.navigation-loader {
  position: absolute;
  z-index: 1000;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.loader {
  width: 24px;
  height: 24px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app {
  text-align: center;
  max-width: 1080px;
  margin: 40px auto;
}
.input-group {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.input-group input {
  padding: 15px;
}

.btn {
  background-color: #888cf0;
  color: #000000;
  margin-top: 20px;
  box-shadow: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
}

.list-sort {
  max-width: 480px;
  margin: auto;
}

.list-container {
  display: flex;
  width: 100%;
  padding: 40px;
}

.list-container__right {
  flex: 1;
  border: 2px dotted #888cf0;
}
.list-container__left {
  flex: 1;
  padding: 10px;
}
.list-item {
  display: flex;
  align-items: center;
  background-color: #ffd2d2;
  padding: 0px 20px;
  margin-top: 15px;
  cursor: move;
  transition: all 0.2s ease-in-out;
}
.list-item-draggable {
  display: flex;
  align-items: center;
  background-color: #ffd2d2;
  padding: 0px 20px;
  margin-top: 15px;
}
.list-item:hover {
  scale: 1.01;
}
.list-item i {
  margin-right: 20px;
  font-size: 30px;
}
h3 {
  font-size: 30px;
}
.app__navigation {
  display: flex;
  justify-content: flex-end;
}
.app__navigation > a {
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 12px;
  color: #888cf0;
  border: 1px solid;
  padding: 5px;
}
.container-sort__wrapper {
  display: flex;
  justify-content: center;
}
.container-sort__column {
  flex: 1;
  margin-right: 10px;
}

.container-sort__items {
  border: 0.5px solid grey;
  min-height: 200px;
}

.sidebar-styles {
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}
